# Node / frontend
node_modules

# Git
.git
.gitignore

# OS / Editor files
.DS_Store
Thumbs.db
.vscode

# Laravel logs & cache
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

# Tests & docs
tests
README.md

# Environment files
.env
.env.*

